################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# And a little tweaked by Prince.
################################################################################

/bin/Debug/netcoreapp2.1
/obj
/ApplicationBase
/bin/Staging/netcoreapp2.2
